flask==1.1.2
flask_cors==3.0.9
python-dotenv==0.15.0
authlib==0.15.2
six==1.15.0
image_resizer @ git+https://github.com/wiating-app/image_resizer.git
auth0-python==3.13.0
boto3==1.16.18
elasticsearch==7.10.0
Flask-gzip==0.2
